{% load static %}

<div class="card mt-4" style="border: none">
    <div class="card-header">
            <h5 class="card-title" style="float: left">{{ i.title }}</h5>
            <p class="card-date">{{ i.date_pub|date }}</p>
    </div>
    <div class="card-body">
        <div class="my-class-div">{{ i.description|safe }}</div>

        <img src="{{ i.post_picture.url }}" width="100%" style="padding: 20px" />
        <div class="like-block" id="{{ i.slug }}">
          <span class="like-counter" onclick="LikeCounter('{{ i.slug }}')"></span>
          {% csrf_token %}
          <p>{{ i.like }}</p>
        </div>

        <script type="text/javascript" src="{% static 'js/likes/like_check.js' %}"></script>
        <script type="text/javascript">
          LikeCheck("{{ i.slug }}")
        </script>
        
        <a href="{{ i.get_absolute_url }}" class="btn" style="box-shadow: none">Читать ></a>
    </div>

    <div class="card-footer text-muted">
        <div class="row">
          <div class="col d-none d-lg-block">
            <small class="card-footer-txt">Tags:
              {% for tag in i.tags.all %}
                <a href="{{ tag.get_absolute_url }}" target="_self" class="card-footer-txt">{{ tag.tag_title}}</a>
              {% endfor %}
            </small>
          </div>
          <div class="col text-right mr-2">
              <small class="text-muted text-right">By <a href="#" class="author">Palachintosh</a></small>
          </div>
        </div>
    </div>
</div>
