{% extends 'warehouse/warehouse_base.html'%}
{% load static %}

{% block title %}
    Product - {{ product.title }}
{% endblock %}


{% block sidebar %} 
    {% include 'warehouse/includes/left_sidebar.html' %}
{% endblock %}


{% block content %}
    <div class="warehouse-oprions mt-4">
        <h4 style="border-left: 3px solid rgb(192, 1, 154);">&nbsp;&nbsp;&nbsp; {{ product.title }}</h4>
    </div>

    <div class="warehouse-oprions mt-4">
        <h5>Tu możesz zmienić parametry wybranego produktu</h5>
    </div>
    <hr>

    <form action="{{ product.get_update_url }}" method="post">
        {% csrf_token %}

        {% for field in product_form %}
            <div class="form-group">
                {% if field.errors %}
                    <div class="alert alert-danger">
                        {{ field.errors }}

                    </div>
                {% endif %}

                {{ field.label }}
                {{ field }}
            </div>
        {% endfor %}

        <button type="submit" class="btn btn-dark float-right">Zapisz</button>
        <a class="btn btn-danger float-right mr-2" href="{% url 'my_warehouse_url' %}" style="color: white">Powrot</a>

    </form>

    <div class="alert alert-success" role="alert" id="alertSuccess">
        Dane zapisane poprawnie! <a href="{% url 'my_warehouse_url' %}" class="alert-link">Zobacz produkty</a>
        <span onclick="display_alert_close();" class="alert-close">X</span>
    </div>

    {% if success_update %}
        <!-- Alert activate -->
        <script>
            function display_alert() {
                alert_msg = document.querySelector('#alertSuccess');
                alert_msg.style.display = 'block';

                setTimeout(function() {
                    alert_msg.style.display = 'none';
                }, 5000);
            }

            function display_alert_close() {
                alert_msg = document.querySelector('#alertSuccess');
                alert_msg.style.display = 'none';
            }

            display_alert();
        </script>
    {% endif %}
    
{% endblock %}