{% extends 'warehouse/warehouse_base.html'%}
{% load static %}

{% block title %}
    Magazyn - Home
{% endblock %}


{% block sidebar %}
    {% include 'warehouse/includes/left_sidebar.html' %}
{% endblock %}

{% block content %}
    <div class="mt-4">
        {% if general_warehouses %}
            {% if general_warehouses.slug != None %}
                <h3>{{ general_warehouses.title }}</h3>
                <p>{{ general_warehouses.description }}</p>
                <a href="{{ general_warehouses.get_update_url }}" class="btn btn-primary">Zmień konfigurację</a>
                <a href="#" class="btn btn-dark">Zobacz produkty</a>

                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Strefa niebezpieczna
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                      <li><a href="{{ general_warehouses.get_delete_url }}?model=warehouse" style="color: red;">Usuń magazyn</a></li>
                    </ul>
                  </div>
                
                <div class="warehouse-oprions mt-4">
                    <h5>Wszystkie produkty znajdujące się na magazynie "{{ general_warehouses.title }}" </h5>
                </div>
            {% else %}
                <div class="warehouse-oprions mt-4">
                    <h5>Wszystkie produkty</h5>
                </div>
            {% endif %}
            <hr>
            <div class="search-container">
                {% include 'warehouse/includes/w_content.html' %}
            </div>
            {% if products %}
                <table class="my_table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nagłówek</th>
                            <th>Kod części</th>
                            <th>Opis</th>
                            <th>Ilość</th>
                            <th>Dostępny</th>
                            <th>Jest na OLX</th>
                            <th>Cena</th>
                            <th>Magazyny</th>
                            <th>Data dodania</th>
                        </tr>
                        </thead>
                    <tbody>
                            {% for product in products %}
                                <tr>
                                    <td>{{ product.id }}</td>
                                    <td>{{ product.title }}</td>
                                    <td>{{ product.barcode }}</td>
                                    <td>{{ product.description | truncatewords:8 }}</td>
                                    <td>{{ product.quantity }}</td>
                                    {% if product.active_stamp %}
                                        <td class="active-true">Jest</td>
                                    {% else %}
                                        <td class="active-false">Brak</td>
                                    {% endif %}

                                    {% if product.olx_stamp %}
                                        <td class="active-true">Jest</td>
                                    {% else %}
                                        <td class="active-false">Brak</td>
                                    {% endif %}
                                    <td>{{ product.price }} / zl</td>
                                    
                                    <td>
                                    {% for rw in product.get_related_warehouses %}
                                        {{ rw.title }}
                                    {% endfor %}
                                    </td>
                                    <td>{{ product.date_pub | date }}</td>
                                    <td><a href="{{ product.get_absolute_url }}" class="btn btn-dark">Edytuj</a></td>
                                </tr>
                            {% endfor %}
                        
                    </tbody>
                </table>

                <div class="pagination mt-5 mb-5 justify-content-center">
                    <div class="disable-paginator"></div>
                        <ul>
                            <!-- Previous link -->
                            <li>
                              <a href="?page=1" aria-label="Previous" title="Początek">
                                    <span aria-hidden="true">&laquo;</span>
                              </a>
                            </li>
                            
                            <!-- Range  -->
                            {% for n_page in pag_object %}
                                {% if n_page == current_page %}
                                    <li class="active-page"><a href="?page={{ n_page }}">{{ n_page }}</a></li>
                                {% else %}
                                    <li><a href="?page={{ n_page }}">{{ n_page }}</a></li>
                                {% endif %}
                            {% endfor %}
                            
                            <!-- Next link -->
                            <li>
                              <a href="?page={{ pag_counter.paginator.num_pages }}" aria-label="Next" title="Koniec">
                                <span disable aria-hidden="true">&raquo;</span>
                              </a>
                            </li>
                          </ul>
                </div>

            {% else %}
                <div class="warehouse-oprions mt-4">
                    <h5>Nie ma dostępnych produktów.</h5>
                    <a href="{% url 'add_product_url' %}">Dodaj nowy produkt</a>
                </div>
            {% endif %}

        {% else %}
            <a href="{% url 'create_warehouse_url' %}" class="btn btn-primary">Dodaj nowy magazyn -></a>
        {% endif %}

    </div>

    {% if not pag_counter.has_next %}
        <script type="text/javascript">
            get_paginator = document.querySelector(".disable-paginator");
            
            if(get_paginator != null ) {
                get_paginator.style.display = 'block';
            }
        </script>
    {% endif %}

{% endblock %}