@import "scss/bootstrap.scss";
@import "var.scss";



@mixin footer-text-title {
    color: #4c4f53;
    font-style: oblique;
    font-size: 0.95rem;
}

:root {
    background-color: $white;
    color: #212529;
}


html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 3rem;
    // background-color: #ffffff;
    // color: #212529;
}

h5 {
    color: #4e5054;
    font-weight: bold;
}

// .btn-go {
//     border-radius: 0 0.15rem 015rem 0;
// } 

.btn {
    background-color: $gray;
    border-radius: 0 0.15rem 0.15rem 0;
    border: 1px solid $white;
    color: $white;
    transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
}

.btn:hover {
    background-color: $white;
    border: 1px solid $my-gray;
    color: $dark;
    outline-offset: -1px;
}

.bg-dark {
    background-color: $gray-800 !important;
}

.navbar-brand {
    max-width: 200px;
}

.form-control {
    border-radius: unset;
}

.card {
    margin-bottom: 50px;
    border-radius: 0px;
}
.align-card {
    float: right;
}

.card-body a {
    float: right;
}


.recomended {
    background-color: $light-green;
    border-radius: 3px;
}

.recomended p {
    padding: $padding-text;
    color: $card-text-col;
}

.card {
    border: none;
    border-bottom: 1px solid #dcdcdc;
}

.card-header {
    background-color: rgba(68, 68, 68, 0.03);
    border: none;
}
.card-date {
    float: right;
    font-size: 0.75rem;
    color: $my-gray;
}

.footer-attrs {
    min-height: 2.15rem;
    margin-bottom: 1rem;
}

.tag-line {
    float: left;
}

.author {
    text-decoration-line: underline;
}

.author-line > small {
    margin-right: .85rem;
}

.card-footer-txt > small {
    float: right;
}

.card-footer-txt p {
    display: inline-block;
}

.card-body > p {
    padding-left: 20px;
}

.card-footer {
    margin: 0px;
    padding: 0px;
    background-color: $white;
}

.card-footer-txt {
    line-height: 1.25em;
    margin: 0px;
    padding-left: 10px;
    @include footer-text-title();
}

.card-footer-txt > a {
    color: $card-text-col;
}

.sidebar-title > p {
    color: $white;
    line-height: 1.5rem;
    background-color: #3eb5f1;
    padding: 5px 0px 5px 8px;
    border-radius: 3px;
    
} 

.card-img-top {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}



.show_object {
    display: none;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 2.5rem;
    background-color: #f0f0f0;
  }

.not_found {
    margin: auto;
    width: 100%;
    height: 100%;
}

.handler > p{
    line-height: 0.9rem;
}

.handler > h1 {
    font-size: 7rem;
    color: $light-blue;
}


.about_me > p {
    line-height: 1rem;
}

.form-size {
    min-height: 5em;
    
}
// .handler-text {
//     float: left;
// }

// .handler-text > p {
//     text-align: left;
// }

.checkbox-img-pl {
    width: 32px;
    height: 20px;
    float: right;
    background-color: red;
    background-image: url("../images/flags/pl_flag.png");
}

.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 22px;
}

.switch input {display: none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 12px;
}



.slider::before {
    position: absolute;
    content: "";
    height: 18px;
    width: 14px;
    left: 3px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
    
}

// input:checked + .slider {
//     background-color: #2196F3;
// }

input:focus + .slider {
    box-shadow: none;
}

input:checked + .slider {
    background-color: rgb(172, 238, 172);
}


input:checked + .slider::before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
}

.slider .round {
    border-radius: 50%;
}

.slider .round::before {
    border-radius: 50%;
}

.cb_alignment {
    float: right;
    // display: inline-block;
}

.cb_alignment > ul {
    list-style: none;
    margin-right: .5rem;
}

.cb_alignment > ul > li {
    float: left;
    margin-left: .1rem;
    margin-right: .1rem;
    padding: .1rem;
    height: 22px;
    color: rgb(245, 245, 245);
}

.cb_alignment > ul > li > label {
    margin: unset;
}

.ru_icon {
    background-color: rgb(117, 156, 255);
    border-radius: 3px;
    padding: .2rem;
}

.pl_icon {
    background-color: rgb(45, 46, 49);
    border-radius: 3px;
    padding: .2rem;
}

.like-counter {
    width: 32px;
    height: 26px;
    background-color: white;
    background-image: url("../images/rating/like_heart.png");
    float: left;
    padding: .3rem;
}


.like-block {
    cursor: pointer;
    display: inline;
    float: left;
    line-height: 36px;
}


.like-block > p {
    margin-left: .7rem;
    float: left;
    height: 32px;
    
}

.settings-menu {
    position: relative;
    width: 100%;
    padding: .5rem;
    
    a {
        text-decoration: none;
        outline: none;
    }

    a > span:hover {
        background-color: rgba(72, 72, 72, 0.501);
        border-radius: .2rem;
        padding: .3rem;
        transition: background 150ms ease-in-out 200ms, opacity 150ms ease-in-out 100ms, transform 100ms ease-in-out;
    }

    .settings-icon {
        width: 32px;
        height: 32px;
        background-image: url("../icons/settings.png");
        background-repeat: no-repeat;
        float: left;
        cursor: pointer;
    }

    .settings-block {
        position: relative;
        left: 1rem;
        color: rgb(220, 78, 78);
        padding-left: .3rem;
    }
}

.container-menu {
    display: none;
    position: absolute;
    width: 400px;
    height: 400px;
    top: -142px;
    left: -200px;
    z-index: 9998;

}

.menu-top {
    position: absolute;
    width: 400px;
    height: 200px;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    // background-color: rgb(40, 190, 245);
    background-color: rgb(45, 206, 171);
    z-index: 10000;
    //#B084CC
}

.inner-menu-list {
    position: absolute;
    top: 10px;
    left: 250px;
    transform: rotate(-90deg);
    z-index: inherit;

    li {
        list-style: none;
        cursor: pointer;
    }
}

.inner-menu-list > .first {
    margin: 5px 0 0 45px;
    width: 32px;
    height: 32px;
    background-image: url("../icons/close.png");
    
    &::before {
        position: absolute;
        width: 100%;
        height: 100%;
        background: var(--background);
        transform: translate3d(-47%, 0, 0) scale(0.1);
        transition: background 300ms ease-in-out 200ms, opacity 350ms ease-in-out 200ms, transform 400ms ease-in-out;
    }
}

.inner-menu-list > .second {
    margin: 50px 0 0 15px;
}

.inner-menu-list > .third {
    margin: 30px 0 0 -55px;
}
