<div id="leftSidebar">
    <div class="sidebar-header">Zarządzanie magazynem</div>
    <div class="btn-block">
        <a class="btn-add" href="{% url 'create_warehouse_url' %}"><span class="warehouse-img"></span>Nowy magazyn</a>
        <a class="btn-add" href="{% url 'add_product_url' %}"><span class="product-img"></span>Nowy produkt</a>
        <div class="btn-my">
            <a href="{% url 'my_warehouse_url' %}">Moje magazyny: </a>
        </div>
    </div>

    <div class="warehouse-block">
        {% for i in warehouses %}
            <a href="{{ i.get_absolute_url }}">{{ i.title }}</a>
        {% endfor %}
    </div>
</div>