<div class="product-container mt-2 mb-5">
    <div class="block-filter">
        <p>Znajdź produkt:</p>
    </div>
    <form id="searchFilterForm" name="search_filter" class="row gx-3 gy-2 align-items-center" action="{% url 'search_filter_url' %}" method="GET">
      {% csrf_token %}
        <div class="col-4">
          <input type="text" name="p_keyword" class="form-control" id="specificSizeInputName" placeholder="Kod części lub słowo">
        </div>
        <div class="col-2">
          <!-- <label class="visually-hidden" for="specificSizeSelect">Magazyn</label> -->
          <select style="width: 100%;" class="form-select form-select-sm" name="p_warehouse" title="Magazyn">
            <option value="" selected="selected">Magazyn</option>
            {% for w in warehouses %}
                  <option>{{ w.title }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-2">
          <div class="form-check">
            <input name="p_available" class="form-check-input" type="checkbox" id="available">
            <label class="form-check-label" for="available">
                Dostępny
            </label>
          </div>
        </div>

        <div class="col-2">
          <div class="form-check">
            <input name="p_olx_available" class="form-check-input" type="checkbox" id="olxAvailable">
            <label class="form-check-label" for="olxAvailable">
                Dostępny na OLX
            </label>
          </div>
        </div>
      </form>

      <div class="row mt-2">
        <div class="col-md-8"></div>

        <div class="col-md-4">
          <button class="btn" disabled>Settings</button>
          <button type="submit" class="btn" value="clean_all" disabled>Pokaż wszystkie</button>
          <button type="submit" class="btn btn-success" form="searchFilterForm">Szukaj</button>
        </div>
      </div>
      <hr class="mt-3">
</div>
