{% extends 'notes/base_notes.html' %}
{% load static %}

{% block title %}
	My notes - {{ block.super }}
{% endblock %}

{% block content %}

    <div>
        <button id="send" style="width: 300px; height: 70px; background-color: rgba(55, 186, 55, 0.768);">Send</button>
    </div>
    <!-- Access-Control-Allow-Credentials -->
    <script>
        console.log("script initialization..")
        var button_s = document.getElementById("send");

        $(button_s).on('click', function(e) {
            $(button_s).css("backgroundColor", "red");

            $.get({

            })

            $.ajax({
                type: "GET",
                // url: "http://palachintosh.com/bikes_monitoring",
                url: "{% url 'bike_check_url' %}",
                contentType: 'application/x-www-form-urlencoded;charset=UTF-8',
                // crossDomain: true,
                // dataType: 'jsonp',
                // xhrFields: {
                //     withCredentials: true
                // },
                // headers: {"username": "palachintosh", "password": "amazinG117@"},
                data: {
                    code: "KRTRZ29X19W002529",
                },
                beforeSend: function(xhr) {
                    const xhttp = new XMLHttpRequest();
                    xhttp.open( "GET", "http://palachintosh.com", true);
                    xhttp.setRequestHeader("request_origin", "kross");
                    xhttp.setRequestHeader('Access-Control-Allow-Origin', "*");
                    xhttp.send();
                    var resp_txt = xhttp.getResponseHeader;
                    console.log("=================HERE================")
                    console.log(resp_txt);

                },
                error: function(data) {
                    if (data.response == null) {
                        console.log(data)
                        alert("ERROR SUCCESS!")
                    }
                    
                }, 

                success: function(data) {
                    alert("SUCCESS!");
                    console.log(data);
                }
                
            })
        });

    </script>






    {% for note in pag_notes %}
        {% include 'notes/includes/note_card.html' %}
    {% endfor %}

    <div class="pagination mt-5 mb-5 justify-content-center">
		<span class="step-links">
			{% if pag_notes.has_previous %}
				<a href="?page=1" class="btn btn-dark" style="margin: 0 5px 0 5px; float: left">First</a>
				<a href="?page={{ pag_notes.previous_page_number }}" class="btn btn-dark" style="margin: 0 5px 0 5px; float: left;">Previous</a>
			{% endif %}
			
			<!-- <span class="current" style="float: left; padding: 6px;">
				Page {{ post_count.number }} of {{ post_count.paginator.num_pages }}
			</span> -->
			{% if pag_range > 1 %}
				{% for n_page in pag_range %}
					<span style="float: left; padding: 6px;">{{ n_page }} </span>
				{% endfor %}
			{% endif %}
			{% if pag_notes.has_next %}
				<a href="?page={{ pag_notes.paginator.num_pages }}" class="btn btn-dark" style="margin: 0 5px 0 5px; float: right">End</a>
				<a href="?page={{ pag_notes.next_page_number }}" class="btn btn-dark" style="margin: 0 5px 0 5px; float: right">Next</a>
			{% endif %}

		</span>
	</div>
{% endblock %}