{% extends 'blog/base_blog.html' %}

{% block title %}
    Edit post - {{ post.title|title }}
{% endblock %}

{% block head %}
    <script src="https://cdn.tiny.cloud/1/ur832549tqwfu8iqhctvincsbypdvnxspzhx6vfgfntmqc5b/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>tinymce.init({selector:'textarea'});</script>
{% endblock %}


{% block content %}
    <form action="{{ post.post_update_url }}" method="post">
        {% csrf_token %}

        {% for field in form %}
            <div class="form-group">
                {% if field.errors %}
                    <div class="alert alert-danger">
                        {{ field.errors }}
                    </div>
                {% endif %}

                {{ field.label }}
                {{ field }}
        {% endfor %}
            </div>

        <button type="submit" class="btn btn-primary">Обновить</button>

    </form>


{% endblock %}